/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
}

/* .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* Start Table */
.container {
  padding: 0 50px;
}

header {
  text-align: center;
  margin: 20px auto;
}
header h1 {
  font-family: 'Markazi Text', serif;
}

header img {
  height: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

table thead th {
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border-left: 1px solid #ddd;
}

table tr {
  border-bottom: 1px solid #ddd;
}

table tr:nth-of-type(odd) {
  color: #fff;
}

table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #0F4D72;
}

table th.mohamad, td.mohamad {
  background-color: #1980be;
}

table th.omar-k, td.omar-k {
  background-color: #00d1ff;
}

table th.omar-h, td.omar-h {
  background-color: #005365;
}

table th.sobhi, td.sobhi {
  background-color: #00aab2;
}

table th.ahmad-m, td.ahmad-m {
  background-color: #69a7a7;
}

table th.ahmad-k, td.ahmad-k {
  background-color: #607d8b;
}

table td:nth-of-type(1) {
  font-weight: bold;
  width: 10%;
  border-left: 1px solid #ddd;
}

table tr:nth-of-type(odd) td:nth-of-type(1) {
  padding: 30px 50px;
  color: #000;
}

@media (max-width: 1468px) {
  table th {
    display: none;
  }
  table, table tbody, table tr, table td {
    display: block;
  }
  table tr {
    margin-bottom: 50px;
  }
  table tr:nth-of-type(even) {
    display: none;
  }
  table tr td:first-of-type {
    border: 1px solid #ddd;
  }
  table tr td {
    text-align: end;
    padding: 20px;
    position: relative;
  }
  table tr td:not(:first-child, .sobhi, .mohamad, .omar-h, .omar-k, .ahmad-k, .ahmad-m) {
    display: none;
  }
  table tr td::before {
    content: attr(data-lesson);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
  table tr td::after {
    content: attr(data-time);
    color: #fff;
    position: absolute;
    right: 0;
    padding-right: 20px;
  }
}
/* End Table */
