* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
}

/* .container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/* Small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */
/* Medium */
/* @media (min-width: 992px) {
  .container {
    width: 970px;
  }
} */
/* Large */
/* @media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
} */

/* Start Table */
div.contain {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  text-align: center;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  /* border: 1px solid #009879; */
}

table thead th {
  background-color: #009879;
  color: #fff;
  font-size: 20px;
  padding: 15px 30px;
  border-right: 1px solid #ddd;
}
table tr {
  border-bottom: 1px solid #ddd;
}
table tr:last-of-type {
  border-bottom: 2px solid #009879;
}
table tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table td:nth-of-type(1) {
  font-weight: bold;
  width: 10%;
  border-left: 1px solid #ddd;
}
table tr:nth-of-type(odd) td:nth-of-type(1) {
  padding: 30px 50px;
}
/* End Table */
